certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.4.2
django==1.11.23
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.10.3
idna==2.6
oauthlib==2.0.6
passlib==1.7.1
pillow==6.2.0
psycopg2==2.5.4
python3-openid==3.1.0
pyPdf2==1.26.0
pytz==2017.2
reportlab==3.4.0
requests==2.20.0
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.24.2
whitenoise==3.3.1
xhtml2pdf==0.2b1
xlsxwriter==1.0.2