{% extends "index/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {% if n_message %}
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> {{ n_message }}
    </div>
    {% endif %}
    {% if p_message %}
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{ p_message }}
    </div>
    {% endif %}
    <form id="register" action="{% url 'register' %}" method="POST" data-toggle="validator" role="form" style="display: inline-block">
    {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Name" type="text" required/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <input autocomplete="off" data-minlength="5" data-error="Username can't be less than 5 characters" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <input class="form-control" data-minlength="6" name="password" id="password" placeholder="Password" type="password" required/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <input class="form-control" data-minlength="6" data-match="#password" data-match-error="Passwords don't match" name="verifypassword" id="verifypassword" placeholder="Verify Password" type="password" required/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>

{% endblock %}